.create-button {
    position: fixed;
    top: 88.5vh;
    right: 2vw;
}

.movies-list {
    display: flex !important;
    flex-direction: row !important;
    flex-wrap: wrap !important;
    justify-content: space-between !important;
}

