<div *ngIf="!isUpdate && movieForm || (isUpdate && movie && movieForm); else noResponseYet">
    <form class="form-movie"
          (ngSubmit)="saveMovie()" 
          [formGroup]="movieForm"
          autocomplete="off" 
          fxLayout="column" 
          fxFlex="100%"  
          fxFlex.gt-md="40%"   fxFlexOffset.gt-md="30%"
          fxFlex.gt-lg="33.3%" fxFlexOffset.gt-lg="33.3%">

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_TITLE_LABEL}}</mat-label>
            <input matInput 
                   type="text"
                   formControlName="title">
            <mat-error *ngIf="validateFormField('title')">
                el titulo no puede estar vacío
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_POSTER_LABEL}}</mat-label>
            <input matInput 
                   type="url"
                   formControlName="urlImage">
            <mat-error *ngIf="validateFormUrlField('urlImage')">
                La URL indicada debe comenzar por http:// ó https://
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_GENRE_LABEL}}</mat-label>
            <mat-select multiple [formControl]="genreControl" (selectionChange)="addGenre()">
                <mat-select-trigger>
                    <mat-chip-list formArrayName="genres">
                        <mat-chip *ngFor="let genre of genresArray.controls; let i = index"
                                  [formControlName]="i" 
                                  removable 
                                  (removed)="removeGenreChip(genre)">
                            {{genre}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-select-trigger>
                <mat-option *ngFor="let genre of genresList" [value]="genre">
                    {{genre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_ACTORS_LABEL}}</mat-label>
            <mat-select multiple>
                <mat-select-trigger>
                    <mat-chip-list>
                        <mat-chip *ngFor="let actor of movie.actors" 
                                  removable 
                                  (removed)="removeActorChip(actor)">
                            {{actor.first_name}}&nbsp;{{actor.last_name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-select-trigger>
                <mat-option *ngFor="let actor of actorsList" 
                            [value]='actor'>
                    {{actor.first_name}}&nbsp;{{actor.last_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_COMPANY_LABEL}}</mat-label>
            <mat-select formControlName="company">
                <mat-option *ngFor="let company of companiesList" 
                            [value]='company'>
                    {{company.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_YEAR_LABEL}}</mat-label>
            <input matInput 
                   type="number"
                   formControlName="year">

            <mat-error *ngIf="validateFormField('year')">
                el año no puede estar vacío
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_DURATION_LABEL}}</mat-label>
            <input matInput 
                   type="number"
                   formControlName="duration">

            <mat-error *ngIf="validateFormField('duration')">
                la duración no puede estar vacía
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_RATING_LABEL}}</mat-label>
            <input matInput 
                   type="number" 
                   min="0" 
                   step="0.1" 
                   max="10"
                   formControlName="rating">

            <mat-error *ngIf="validateFormField('rating')">
                la puntuación no puede estar vacía
            </mat-error>
        </mat-form-field>

        <div class="save-button">
            <button type="submit" 
                    mat-fab color="accent">
                <mat-icon>save</mat-icon>
            </button>
        </div>
    </form>
</div>
<ng-template #noResponseYet>
    <app-spinner></app-spinner>
</ng-template>

<span>Formulario.Value</span>
<pre>{{movieForm.value | json}}</pre>
<pre>{{genreControl.value | json}}</pre>
<!-- <div class="save-button">
    <button type="submit" 
            mat-fab color="accent" 
            [disabled]="movieForm.invalid">
        <mat-icon>save</mat-icon>
    </button>
</div> -->