<div class="form-movie" fxLayout="column" fxFlex="100%" 
     fxFlex.gt-md="75%" fxFlexOffset.gt-md="12.5%" 
     fxFlex.gt-lg="33.3%" fxFlexOffset.gt-md="33.3%">
     
    <mat-form-field class="form-movie__field" appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput type="text"/>
    </mat-form-field>

    <mat-form-field class="form-movie__field" appearance="fill">
        <mat-label>Póster (url)</mat-label>
        <input matInput type="url"/>
    </mat-form-field>

    <mat-form-field class="form-movie__field" appearance="fill">
        <mat-label>Géneros</mat-label>
        <input matInput type="text"/>
        <mat-icon matSuffix class="form-movie__field__icon">add</mat-icon>
    </mat-form-field>

    <mat-form-field class="form-movie__field" appearance="fill">
        <mat-label>Actores</mat-label>
        <mat-select>
            <mat-option>LEONARDO DI CAPRIO</mat-option>
        </mat-select>
    </mat-form-field>
    
    <mat-form-field class="form-movie__field" appearance="fill">
        <mat-label>Estudio</mat-label>
        <mat-select>
            <mat-option>WARNER BROS</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="form-movie__field" appearance="fill">
        <mat-label>Año</mat-label>
        <input matInput type="number"/>
    </mat-form-field>

    <mat-form-field class="form-movie__field" appearance="fill">
        <mat-label>Duración</mat-label>
        <input matInput type="number"/>
    </mat-form-field>

    <mat-form-field class="form-movie__field" appearance="fill">
        <mat-label>Puntuación</mat-label>
        <input matInput type="number"/>
    </mat-form-field>

    <div class="save-button">
        <button mat-fab color="accent">
            <mat-icon>save</mat-icon>
        </button>
    </div>
</div>

<!-- <form class="form-movie" [formGroup]="movieForm">
    
    <mat-form-field class="form-movie__field" appearance="fill">
        <mat-label>Título</mat-label>
        <input matInput type="text" formControlName="title"/>
    </mat-form-field>

    <mat-form-field class="form-movie__field" appearance="fill">
        <mat-label>Póster (url)</mat-label>
        <input matInput type="url" formControlName="poster"/>
    </mat-form-field>

    <mat-form-field class="form-movie__field" appearance="fill">
        <mat-label>Géneros</mat-label>
        <input matInput type="text" formControlName="genres"/>
        <mat-icon matSuffix class="form-movie__field__icon">add</mat-icon>
    </mat-form-field>
    <ng-container *ngIf="genres.length > 0">
        <p>
            <span *ngFor="let genre of genres" class="form-movie__text">
                #{{genre}}&nbsp;&nbsp;
                <mat-icon matSuffix 
                (click)="deleteGenre(genre)"
                class="form-movie__text__icon"
                >remove_circle_outline</mat-icon>
            </span>
        </p>
    </ng-container>

    <mat-form-field class="form-movie__field" appearance="fill">
        <mat-label>Actores</mat-label>
        <mat-select formControlName="actors" (selectionChange)="addActor()">
            <mat-option *ngFor="let actor of actors$ | async" 
            [value]='actor'>{{getActorName(actor)}}</mat-option>
        </mat-select>
    </mat-form-field>
    <ng-container *ngIf="actors.length > 0">
          <p *ngFor="let actor of actors" class="form-movie__text">
              {{getActorName(actor)}}
                <mat-icon matSuffix class="form-movie__text__icon"
                                    (click)="deleteActor(actor.id)">
                    remove_circle_outline
                </mat-icon>
          </p>
    </ng-container>

    <mat-form-field class="form-movie__field" appearance="fill">
        <mat-label>Estudio</mat-label>
        <mat-select formControlName="company">
            <mat-option *ngFor="let company of companies$ | async" 
            [value]='company'>{{company.name}}</mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field class="create-film-card__content__form__third-field" appearance="fill">
        <mat-label>Año</mat-label>
        <input matInput type="number" formControlName="year"/>
    </mat-form-field>

    <mat-form-field class="form-movie__third-field margin-right" appearance="fill">
        <mat-label>Duración</mat-label>
        <input matInput type="number" formControlName="duration"/>
    </mat-form-field>

    <mat-form-field class="form-movie__third-field margin-right" appearance="fill">
        <mat-label>Puntuación</mat-label>
        <input matInput type="number" formControlName="imdbRating"/>
    </mat-form-field>
</form> -->