::ng-deep snack-bar-container {
    background-color: var(--primary-color);
    color: var(--text-primary-color);
    border-radius: 10px !important;
}

.form-movie {

    margin-bottom: 40px;

    &__field {
        margin-bottom: 6.5px;
    }

}

.save-button {
    position: fixed;
    bottom: 2.5vh;
    right: 5vw;
}

.mat-select-panel {
    background-color: var(--primary-color);
    color: var(--text-primary-color);
}

.mat-option:hover {
    background-color: var(--accent-color);
    color: var(--text-accent-color);
}

.mat-select-trigger {
    height: fit-content;
}

