<div *ngIf="!isUpdate || (isUpdate && movieFormMapper); else noResponseYet">
    <form class="form-movie"
          #movieForm="ngForm" 
          (ngSubmit)="saveMovie()"
          autocomplete="off" 
          fxLayout="column" fxFlex="100%" 
          fxFlexOffset.gt-md="30%" fxFlex.gt-md="40%"
          fxFlex.gt-lg="33.3%" fxFlexOffset.gt-lg="33.3%">

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_TITLE_LABEL | translate}}</mat-label>
            <input matInput 
                   type="text"  
                   name="movieTitle" 
                   [(ngModel)]="movieFormMapper.title"
                   required>
            <mat-error *ngIf="movieForm?.controls?.['movieTitle']?.errors?.['required']">
                {{CONST.MOVIE_REQUIRED_FIELD | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_POSTER_LABEL | translate}}</mat-label>
            <input matInput 
                   type="url" 
                   name="moviePoster" 
                   [(ngModel)]="movieFormMapper.poster"
                   [pattern]="urlPattern"
                   (blur)="validateUrlField('moviePoster')">
            <mat-error *ngIf="urlPatternFieldValid">
                 {{CONST.MOVIE_URL_PATTERN | translate}}
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_GENRE_LABEL | translate}}</mat-label>
            <mat-select multiple name="movieGenres" [(ngModel)]="movieFormMapper.genres">
                <mat-select-trigger>
                    <mat-chip-list>
                        <mat-chip *ngFor="let genre of movieFormMapper.genres" 
                                  removable 
                                  (removed)="removeGenreChip(genre)">
                            {{genre}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-select-trigger>
                <mat-option *ngFor="let genre of genresList" [value]="genre">
                    {{genre}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_ACTORS_LABEL | translate}}</mat-label>
            <mat-select multiple 
                        name="movieActors" 
                        [(ngModel)]="movieFormMapper.actors">
                <mat-select-trigger>
                    <mat-chip-list>
                        <mat-chip *ngFor="let actor of movieFormMapper.actors" 
                                  removable 
                                  (removed)="removeActorChip(actor)">
                            {{actor.first_name}}&nbsp;{{actor.last_name}}
                            <mat-icon matChipRemove>cancel</mat-icon>
                        </mat-chip>
                    </mat-chip-list>
                </mat-select-trigger>
                <mat-option *ngFor="let actor of actorsList" [value]='actor'>
                    {{actor.first_name}}&nbsp;{{actor.last_name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_COMPANY_LABEL | translate}}</mat-label>
            <mat-select name="movieCompany" 
                        [(ngModel)]="movieFormMapper.company">
                <mat-option *ngFor="let company of companiesList" 
                            [value]='company'>
                    {{company.name}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_YEAR_LABEL | translate}}</mat-label>
            <input matInput 
                   type="number" 
                   name="movieYear" 
                   [(ngModel)]="movieFormMapper.year"
                   required
                   min="1885" [max]="getCurrentYear()"> 
            <mat-error *ngIf="movieForm?.controls?.['movieYear']?.errors?.['required']">
                {{CONST.MOVIE_REQUIRED_FIELD | translate}}
            </mat-error>
            <mat-error *ngIf="movieForm?.controls?.['movieYear']?.errors?.['min']">
                 {{CONST.MOVIE_MIN_YEAR | translate}}
            </mat-error>
            <mat-error *ngIf="movieForm?.controls?.['movieYear']?.errors?.['max']">
                {{CONST.MOVIE_MAX_YEAR | translate}}{{getCurrentYear()}}  
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_DURATION_LABEL | translate}}</mat-label>
            <input matInput 
                   type="number"
                   name="movieDuration" 
                   [(ngModel)]="movieFormMapper.duration"
                   required
                   min="0" max="1260">
            <mat-error *ngIf="movieForm?.controls?.['movieDuration']?.errors?.['required']">
                {{CONST.MOVIE_REQUIRED_FIELD | translate}}
            </mat-error>
            <mat-error *ngIf="movieForm?.controls?.['movieDuration']?.errors?.['min']">
                {{CONST.MOVIE_MIN_DURATION | translate}}  
            </mat-error>
            <mat-error *ngIf="movieForm?.controls?.['movieDuration']?.errors?.['max']">
                {{CONST.MOVIE_MAX_DURATION | translate}} 
            </mat-error>
        </mat-form-field>

        <mat-form-field class="form-movie__field" appearance="fill">
            <mat-label>{{CONST.MOVIE_RATING_LABEL | translate}}</mat-label>
            <input matInput 
                   type="number" 
                   name="movieRating" 
                   [(ngModel)]="movieFormMapper.imdbRating"
                   required
                   min="0" step="0.1" max="10">
            <mat-error *ngIf="movieForm?.controls?.['movieRating']?.errors?.['required']">
                {{CONST.MOVIE_REQUIRED_FIELD | translate}}
            </mat-error>
            <mat-error *ngIf="movieForm?.controls?.['movieRating']?.errors?.['min']">
                {{CONST.MOVIE_MIN_RATING | translate}}
            </mat-error>
            <mat-error *ngIf="movieForm?.controls?.['movieRating']?.errors?.['max']">
                {{CONST.MOVIE_MAX_RATING | translate}}
            </mat-error>
        </mat-form-field>

        <div class="save-button">
            <button mat-fab color="accent" 
                    type="submit">
                <mat-icon>save</mat-icon>
            </button>
        </div>

        <!-- TESTS -->
        <!-- <pre><span>FORM Valid -> </span>{{movieForm.valid | json}}</pre>
        <pre><span>FORM Pristine -> </span>{{movieForm.pristine | json}}</pre>
        <pre><span>FORM Touched -> </span>{{movieForm.touched| json}}</pre>
        <pre><span>FORM Value -> </span>{{movieForm.value | json}}</pre> -->

    </form>
</div>

<ng-template #noResponseYet>
    <app-spinner></app-spinner>
</ng-template>


