<div class="info-movie">
    <div class="info-movie__image-container">
        <img class="info-movie__image-container__image" [src]="movieDetail | imageMovie">
    </div>
    <div class="info-movie__content">
        <div class="info-movie__content__first-row">
            <div class="info-movie__content__first-row__left">
                <strong>{{CONST.MOVIEDETAIL_RATING_LABEL | translate}}</strong>
                <p>{{movieDetail.imdbRating}}</p>
            </div>
            <div class="info-movie__content__first-row__right">
                <strong>{{CONST.MOVIEDETAIL_DURATION_LABEL | translate}}</strong>
                <p>{{movieDetail.duration}}&nbsp;min</p>
            </div>
        </div>
        <div class="info-movie__content__actors">
            <div>
                <strong>{{CONST.MOVIEDETAIL_ACTORS_LABEL | translate}}</strong>
                <mat-divider></mat-divider>
            </div>
            <div>
                <ul class="info-movie__content__actors__list">
                    <li class="info-movie__content__actors__list__list-item" 
                        *ngFor="let actor of movieDetail.actors">
                        <span>{{actor.first_name}}&nbsp;{{actor.last_name}}</span>
                    </li>
                </ul>
            </div>
        </div>
        <div class="info-movie__content__studio">
            <div>
                <strong>{{CONST.MOVIEDETAIL_COMPANY_LABEL | translate}}</strong>
                <mat-divider></mat-divider>
            </div>
            <div class="info-movie__content__studio__item">
                <p>{{movieDetail.company?.name}}</p>
            </div>
        </div>
        <div class="info-movie__content__genres">
            <div>
                <strong>{{CONST.MOVIEDETAIL_GENRES_LABEL | translate}}</strong>
                <mat-divider></mat-divider>
            </div>
            <div>
                <ul class="info-movie__content__genres__list">
                    <li class="info-movie__content__genres__list__list-item" 
                        *ngFor="let genre of movieDetail.genres">
                        <strong>#{{genre}}</strong>
                    </li>
                </ul>
            </div>
        </div>
    </div>

</div>