.edit-button {
    position: fixed;
    top: 88.5vh;
    right: 8.5vw;
}

.delete-button {
    position: fixed;
    top: 88.5vh;
    right: 3.5vw;
}

.mat-spinner--container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 100px);
}