<div [ngClass]="(isDarkTheme) ? 'dark-theme' : 'light-theme'">
    <mat-sidenav-container fullscreen>
        <!-- SIDENAV CONTENT -->
        <mat-sidenav #sidenav>
            <mat-toolbar color="primary">
                <span>Menú</span>
                <span class="spacer"></span>
                <button mat-icon-button (click)="this.sideNav.toggle()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>
            <mat-nav-list>
                <a mat-list-item routerLink="./home" (click)="this.sideNav.toggle()">
                    <span>Inicio</span>
                    <mat-icon mat-list-icon>home</mat-icon>
                </a>
                <mat-divider class="menu-divider"></mat-divider>
                <a mat-list-item routerLink="./movies" (click)="this.sideNav.toggle()">
                    <span>Películas</span>
                    <mat-icon mat-list-icon>theaters</mat-icon>
                </a>
                <mat-divider class="menu-divider"></mat-divider>
                <a mat-list-item routerLink="./actors" (click)="this.sideNav.toggle()">
                    <span>Actores</span>
                    <mat-icon mat-list-icon>star_rate</mat-icon>
                </a>
                <mat-divider class="menu-divider"></mat-divider>
                <a mat-list-item routerLink="./studios" (click)="this.sideNav.toggle()">
                    <span>Estudios</span>
                    <mat-icon mat-list-icon>movie</mat-icon>
                </a>
                <mat-divider class="menu-divider"></mat-divider>
            </mat-nav-list>
            <div class="flex-container">
                <!-- AUTHOR IMAGE -->
                <img class="logo-image" [src]="logoImage"/>
            </div>
            <div class="flex-container">
                <!-- LIGHT - DARK SWITCH -->
                <mat-slide-toggle class="switch-theme" 
                                  mat-icon-button  
                                  (click)="toggleTheme()">
                </mat-slide-toggle>
                <mat-icon style="margin-left: 15px;">
                    {{iconChange()}}
                </mat-icon>
            </div>
        </mat-sidenav>
        <!-- MAIN CONTENT -->
        <mat-sidenav-content>
            <!-- TOOLBAR -->
            <mat-toolbar color="primary">
                <button mat-icon-button (click)="this.sideNav.toggle()" *ngIf="!sidenav.opened">
                    <mat-icon>menu</mat-icon>
                </button>
                <span class="spacer"></span>

            </mat-toolbar>
            <!-- ROUTER COMPONENTS LAZY LOADED -->
            <div class="content">
                <router-outlet></router-outlet>
            </div>
        </mat-sidenav-content>
    </mat-sidenav-container>
</div>