//Media-Queries
@media (max-width: 480px) {
  mat-sidenav {
    width: 75vw;
  }
}

@media (min-width: 480px) {
  mat-sidenav {
    width: 250px;
  }
}

//Main Css
html,
body {
  height: 100%;
}

//Sidenav
.flex-sidenav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.spacer {
  flex: 1 1 auto;
}

mat-sidenav mat-icon.mat-list-icon {
  margin-right: 15px;
}

mat-sidenav mat-divider.menu-divider {
  margin-left: 1em;
  margin-right: 1em;
}

.mat-sidenav__logo {
  width: 200px;
}

.flex-sidenav__logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  $logo-vertical-align-center: calc((100vh - (5*56px) - 200px - 20px)/2);
  margin-top: $logo-vertical-align-center;
  margin-bottom: $logo-vertical-align-center;
}

.flex-switch {
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.flex-switch-toggle-icon {
  margin-top: 5px;
  margin-left: 5px;
}

.dark-theme .mat-drawer {
  background-color: #2F343B;
  color: white;
}

.mat-list-base {
  padding-top: 0px;
}

//Toolbar
.mat-toolbar--fixed {
  position: sticky;
  top: 0;
  z-index: 1;
}

//Container
.content {
  margin: 25px;
  justify-content: center;
}