<div [ngClass]="(isDarkTheme) ? 'dark-theme' : 'light-theme'">
    <mat-sidenav-container fullscreen>

        <mat-sidenav #sidenav>

            <mat-toolbar color="primary">
                <span>Menú</span>
                <span class="spacer"></span>
                <button mat-icon-button (click)="sideNavigator.toggle()">
                    <mat-icon>close</mat-icon>
                </button>
            </mat-toolbar>

            <mat-nav-list>
                <a mat-list-item routerLink="/" (click)="toggleSideNav()">
                    <span>Inicio</span>
                    <mat-icon mat-list-icon>home</mat-icon>
                </a>
                <mat-divider class="menu-divider"></mat-divider>
                <a mat-list-item routerLink="movies" (click)="toggleSideNav()">
                    <span>Películas</span>
                    <mat-icon mat-list-icon>theaters</mat-icon>
                </a>
                <mat-divider class="menu-divider"></mat-divider>
                <a mat-list-item routerLink="actors" (click)="toggleSideNav()">
                    <span>Actores</span>
                    <mat-icon mat-list-icon>star_rate</mat-icon>
                </a>
                <mat-divider class="menu-divider"></mat-divider>
                <a mat-list-item routerLink="studios" (click)="toggleSideNav()">
                    <span>Estudios</span>
                    <mat-icon mat-list-icon>movie</mat-icon>
                </a>
                <mat-divider class="menu-divider"></mat-divider>
                <div mat-list-item class="flex-sidenav-container">
                    <div class="flex-sidenav-logo">
                        <a href="https://github.com/VicTMPDeV/AngularMoviesApp" target="_blank">
                            <img class="logo" [src]="logoImage" />
                        </a>
                    </div>
                    <div class="flex-switch">
                        <mat-slide-toggle mat-icon-button (click)="toggleTheme()">
                        </mat-slide-toggle>
                        <mat-icon style="margin-left: 15px;">
                            {{iconChange()}}
                        </mat-icon>
                    </div>
                </div>
            </mat-nav-list>
        </mat-sidenav>

        <mat-sidenav-content>

            <mat-toolbar color="primary">
                <button mat-icon-button 
                        *ngIf="sideNavVisibility; else noMenuVisible"
                        (click)="this.sideNavigator.toggle()">
                    <mat-icon>menu</mat-icon>
                </button>
                <ng-template #noMenuVisible>
                    <mat-icon (click)="location.back(); this.sideNavigator.toggle()">
                        arrow_back
                    </mat-icon>
                </ng-template>
                <span class="spacer"></span>
            </mat-toolbar>

            <div class="content">
                <router-outlet></router-outlet>
            </div>

        </mat-sidenav-content>

    </mat-sidenav-container>
</div>