//Media-Queries
@media (max-width: 480px) {
  mat-sidenav {
    width: 75vw;
  }
}

@media (min-width: 480px) {
  mat-sidenav {
    width: 250px;
  }
}

//Global-Variables
$logo-vertical-align-center: calc((100vh - (5*56px) - 64px - 200px - 10px)/2);

//Main Css
html,
body {
  height: 100%;
}

mat-divider.menu-divider {
  margin-left: 1em;
  margin-right: 1em;
}

mat-icon.mat-list-icon {
  margin-right: 15px;
}

// mat-nav-list.mat-nav-list.mat-list-base.ng-tns-c75-0 {
//   padding-top: 0px;
// }

.logo {
  width: 200px;
}

.flex-sidenav-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.flex-sidenav-logo {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  align-content: stretch;
  margin-top: $logo-vertical-align-center;
  margin-bottom: $logo-vertical-align-center;
}

.flex-switch {
  display: flex;
  flex-direction: row;
  height: 56px;
  justify-content: center;
  align-items: center;
  align-content: stretch;
}

.flex-switch-toggle-icon {
  margin-top: 5px; 
  margin-left: 5px;
}

.dark-theme .mat-drawer {
  background-color: #2F343B;
  color: white;
}

.mat-list-base {
  padding-top: 0px;
}

.content {
  margin: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spacer {
  flex: 1 1 auto;
}

.mat-raised-button,
.mat-stroked-button,
.mat-flat-button {
  padding: 0 1.15em;
  margin: 0 .65em;
  min-width: 3em;
  line-height: 39px
}

.mat-standard-chip {
  padding: .5em .85em;
  min-height: 2.5em;
}

.material-icons {
  font-size: 25px;
  font-family: 'Material Icons', 'Material Icons';

  .mat-badge-content {
    font-family: 'Roboto';
  }
}

.main-toolbar {
  position: sticky;
  top: 0; 
  z-index: 1;
}