<div fxLayout="column">
    <h3>{{CONST.MESSAGE_TITLE | translate}}
        <h1>
            <br><strong>{{movie.title}}</strong>
        </h1>
    </h3>
    <h3>{{CONST.MESSAGE_QUESTION | translate}}</h3>    
    <mat-divider></mat-divider>
    <div class="action-buttons" fxLayout="row">
        <button mat-fab (click)="delete()" class="delete">
            {{CONST.MESSAGE_RESPONSE_YES | translate}}
        </button>
        <span class="spacer"></span>
        <button mat-fab (click)="close()" class="no">No</button>
    </div>
</div>
